/* khapreca 2020.1 Severin Mboukou // folio */

*, a {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Sk-Modernist";
    color: #DDD4BB;
    text-decoration: none;
}

html, 
body {
    overflow-x: hidden;
    background: #0C0C0C;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper .container {
    width: 92%;
    margin: 0px auto;
}

/* line separators */
.divider {
    width: 100%;
    height: 2px;
    background: #DDD4BB;
}

.whitespace {
    width: auto;
    height: 10px;
    background: url(/banner-khapreka.png);
    margin: 70px auto;
}


/* navbar */
.navbar .navbar-container {
    display: flex;
    padding: 12px 0;
    font-size: 17px;
    justify-content: space-between;
}

.navbar .navbar-container .site-title {
    flex-grow: 1;
}

.navbar .navbar-container .site-type {
    flex-grow: 1;
}

.navbar .navbar-container .site-year {
    flex-grow: 2;
    text-align: right;
}


@media (max-width: 550px) {
    .navbar .navbar-container {
        display: flex;
        flex-direction: column;
    }
    .navbar .navbar-container .site-title {
        padding-bottom: 6px;
    }
    
    .navbar .navbar-container .site-type {
        padding-bottom: 6px;
    }
    .navbar .navbar-container .site-year {
        text-align: left;
    }
}

/* header */
.header {
    margin: 100px 0;
    z-index: 2 !important;
}

.header .header-container {
    width: 100%;
    padding: 50px 0;
}

.header .header-container h1 {
    font-family: "IBMPlexMono-Light";
    font-weight: 500;
    font-size: 4.5rem;

}

@media (max-width: 900px) {
    .header .header-container {
        width: 50%;
        padding: 25px 0;
    }

    .header .header-container h1{
        font-size: 2.5rem;
        justify-content: left;
    }
}


/* hero-image */
.hero-image {
    width: 100%;
    margin-top: -520px;
}

.hero-image::after {
    content: "";
    display: table;
    clear: both;
}

.hero-image .hero-image-container {
    width: 30%;
    float: right;
}

.hero-image .hero-image-container img {
    width: 100%;
    /* opacity: ; */
}

@media (max-width: 1200px) {
    .hero-image {
        margin-top: 40px;
    }
    .hero-image .hero-image-container {
        width: 100%;
    }
}


/* section-header */
.section-header .section-header-container {
    display: flex;
    padding: 14px 0;
    font-size: 17px;
    justify-content: space-between;
}

/* about */
.about {
    width: 100%;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}

.about .about-container {
    width: 100%;
    float: none;
}

.about .about-container p {
    margin: 40px 0;
    font-size: 34px;
}


@media (max-width: 900px) {
    .about .about-container {
        width: 100%;
    }

    .about .about-container p {
        font-size: 20px;
    }
}

.menu__item {
    position: relative;
    padding: 1.6vw 0 0 0;
    margin: 4px;
}

.menu__item-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: beige;
    transition: opacity 0.4s;
    font-size: 25px;
    font-family: "IBMPlexMono-Light";
}


/* git */
.git {
    width: 100%;
    background: #0C0C0C;
}

.git::after {
    content: "";
    display: table;
    clear: both;
}

.git .git-container-1 {
    width: 54%;
    float: left;
}

.git .git-container-1 img {
    width: 100%;
    margin: 25px auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out ;
}

.git .git-container-1:hover img {
    width: 125%;
}

.git .git-container-2 {
    width: 45%;
    float: left;
    display: flex;
    flex-direction: column;
}

.git .git-container-2 h2 {
    padding: 20px 20px 20px 20px;
    color: #F8406C;
    font-size: 2.55rem;
    
}

.git .git-container-2 p {
    padding: 20px 20px 20px 20px;
    line-height: 1.30em;
    color: #fff;
    font-weight: 600;
    font-size: 2.0em;
    overflow: scroll;
}


@media (max-width: 1286px) {
    .git .git-container-1 {
        width: 100%;
    }

    .git .git-container-2 {
        width: 100%;
        align-items: center;
    }
}

/* capture */
.capture {
    width: 100%;
    background: #0C0C0C;
}

.capture::after {
    content: "";
    display: table;
    clear: both;
}

.capture .capture-container-1 {
    width: 50%;
    float: left;
}

.capture .capture-container-1 img {
    width: 100%;
    margin: 25px auto
}

.capture .capture-container-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.capture .capture-container-2 h2 {
    padding: 13px 13px 13px 13px;
    color: #F8406C;
    font-size: 3em;
    
}

.capture .capture-container-2 p {
    padding: 13px 13px 13px 13px;
    line-height: 1.30em;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}

@media (max-width: 1509px) {
    .capture .capture-container-1 {
        width: 100%;
    }
    .capture .capture-container-2 {
        width: 100%;
        align-items: center;
    }
    .capture .capture-container-2 h2 {
        font-size: (calc(3em / 2));
    }
    .capture .capture-container-2 p {
        font-size: (calc(2em / 2));
    }
}



/* socials */
.social {
    padding: 20px 0;
}

.social .social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social .social-container a {
    cursor: pointer;
    text-decoration: none;
    font-family: "IBMPlexSans-Thin";
    font-size: 64px;
}

@media (max-width: 1150px) {
    .social .social-container {
        flex-direction: column;
        align-items: center;
    }
    .social .social-container a {
        margin-bottom: 10%;
        font-size: 34.9px;
    }
}

.footer .navbar .navbar-container {
    display: flex;
    padding: 12px 0;
    font-size: 17px;
    justify-content: space-between;
}


@media (max-width: 550px) {
    .footer .navbar .navbar-container .site-title {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
}