/* khapreca 2020.1 Severin Mboukou // folio */

*, a {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "sk-modernist-regular";
    color: #DDD4BB;
    text-decoration: none;
}

p {
    font-size: 34px;
}

html, 
body {
    overflow-x: hidden;
    background: #141414;
    scroll-behavior: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper .container {
    width: 92%;
    margin: 0px auto;
}

/* line separators */
.divider {
    width: 100%;
    height: 1.5px;
    background: #DDD4BB;
}

.whitespace {
    background:#DDD4BB;
    height: 2px;
    margin: 90px auto;
}


/* navbar */
.navbar .navbar-container {
    display: flex;
    padding: 12px 0;
    font-size: 17px;
    justify-content: space-between;
}

.navbar .navbar-container .site-title {
    flex-grow: 1;
}

.navbar .navbar-container .site-type {
    flex-grow: 1;
}

.navbar .navbar-container .site-year {
    flex-grow: 2;
    text-align: right;
}


@media (max-width: 550px) {
    .navbar .navbar-container {
        display: flex;
        flex-direction: column;
    }
    .navbar .navbar-container .site-title {
        padding-bottom: 6px;
    }
    
    .navbar .navbar-container .site-type {
        padding-bottom: 6px;
    }
    .navbar .navbar-container .site-year {
        text-align: left;
    }
}

/* hero */
.header {
    margin: 100px 0;
    z-index: 2 !important;
}

.header .header-container {
    width: 100%;
    padding: 50px 0;
}

.header .header-container h1 {
    color: #F8406C;
    font-size: 6.59rem;
    font-style: italic;

}

@media (max-width: 900px) {
    .header .header-container {
        width: 50%;
        padding: 25px 0;
    }

    .header .header-container h1{
        font-size: 60px;
        justify-content: left;
    }
}


/* hero-image */
.hero-image {
    width: 100%;
    margin-top: -700px;
}

.hero-image::after {
    content: "";
    display: table;
    clear: both;
}

.hero-image .hero-image-container {
    width: 30%;
    float: right;
}

.hero-image .hero-image-container img {
    width: 100%;
}

@media (max-width: 1575px) {
    .hero-image {
        margin-top: 40px;
    }
    .hero-image .hero-image-container {
        width: 100%;
    }
}


/* section-header */
.section-header .section-header-container {
    display: flex;
    padding: 14px 0;
    font-size: 17px;
    justify-content: space-between;
}

/* about */
.about {
    width: 100%;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}

.about .about-container {
    width: 100%;
    float: none;
}

.about .about-container p {
    margin: 40px 0;
}


@media (max-width: 900px) {
    .about .about-container {
        width: 100%;
    }

    .about .about-container p {
        font-size: 20px;
        text-align: center;
    }
}

.menu__item {
    position: relative;
    padding: 1.6vw 0 0 0;
    margin: 4px;
}

.menu__item-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 25px;
}


/* git project */
.git {
    width: 100%;
    background: #0C0C0C;
}

.git::after {
    content: "";
    display: table;
    clear: both;
}

.git .git-container-1 {
    width: 54%;
    float: left;
}

.git .git-container-1 img {
    width: 100%;
    margin: 25px auto;
}

.git .git-container-2 {
    width: 45%;
    float: left;
    display: flex;
    flex-direction: column;
}

.git .git-container-2 h2 {
    margin-top: 45px;
    padding: 20px 20px 20px 20px;
    color: #F8406C;
    font-size: 50px;  
}

.git .git-container-2 p {
    padding: 20px 0 20px 20px;
}

@media only screen and (max-width: 1286px) {
    .git .git-container-1 {
        width: 100%;
    }
    .git .git-container-2 {
        width: 100%;
        align-items: center;
    }
    .git .git-container-2 h2 {
        font-size: 34px;
        text-align: center; 
    }
    .git .git-container-2 p {
        font-size: 34px;
        text-align: center;
    }
}

@media (max-width: 768.9px) {
    .git .git-container-1 {
        width: 100%;
    }
    .git .git-container-2 {
        width: 100%;
        align-items: center;
    }
    .git .git-container-2 h2 {
        padding: 0 20px 20px;
        font-size: 25px;
        text-align: center; 
    }
    .git .git-container-2 p {
        margin-bottom: 21px;
        font-size: 20px;
        padding: 0;
        text-align: center;
    }
}

/* capture project */
.capture {
    width: 100%;
    background: #0C0C0C;
}

.capture::after {
    content: "";
    display: table;
    clear: both;
}

.capture .capture-container-1 {
    width: 50%;
    float: left;
}

.capture .capture-container-1 img {
    width: 100%;
    margin: 25px auto
}

.capture .capture-container-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.capture .capture-container-2 h2 {
    padding: 13px 13px 13px 13px;
    color: #F8406C;
    font-size: 3em;
    
}

.capture .capture-container-2 p {
    padding: 20px 20px 20px 20px;
    font-size: 2.0em;
}


@media only screen and (min-width: 1286px) {
    .capture .capture-container-2 h2 {
        padding: 0 20px 20px;
        font-size: 34px;
        text-align: center; 
    }
    .capture .capture-container-2 p {
        margin-bottom: 21px;
        font-size: 34px;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 1530px) {
    .capture .capture-container-1 {
        min-width: 100%;
    }
    .capture .capture-container-2 {
        min-width: 100%;
        align-items: center;
        padding-left: 0;
    }

}

@media (max-width: 768.9px) {

    .capture .capture-container-1 {
        min-width: 100%;
    }
    .capture .capture-container-2 {
        min-width: 100%;
        align-items: center;
        padding-left: 0;
    }

    .capture .capture-container-2 h2 {
        padding: 0 20px 20px;
        font-size: 24px;
        text-align: center; 
    }

    .capture .capture-container-2 p {
        margin-bottom: 21px;
        font-size: 20px;
        padding: 0;
        text-align: center;
    }
}


/* socials media settings */
.social {
    padding: 20px 0;
}

.social .social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 11px;
}

.social .social-container a {
    cursor: pointer;
    text-decoration: none;
    font-size: 72px;
}

.ln a {
    color: rgb(27, 78, 245);
}

.be a {
    color: rgb(245, 27, 92);
}

.ig a {
    color: rgb(255, 208, 0);
}

.tw a {
    color: rgb(97, 188, 248);
}



@media (max-width: 1319px) {
    .social .social-container {
        flex-direction: column;
        align-items: center;
    }
    .social .social-container a {
        margin-bottom: 10%;
        font-size: 4.7rem;
    }
}

.footer .navbar .navbar-container {
    display: flex;
    padding: 12px 0;
    font-size: 17px;
    justify-content: space-between;
}


@media (max-width: 550px) {
    .footer .navbar .navbar-container .site-title {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }  
}

@media (max-width: 858.9px) {
    .footer .navbar .navbar-container .site-year {
        padding: 40px auto;
    }
}